* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h3 {
  color: #143601;
}

.container {
  height: 70vh;

  margin: 120px 200px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

#heading {
  width: 20%;
  font-size: 80px;
  color: #143601;
}
#heading span {
  color: #538d22;
}

.box {
  width: 40%;
  height: 100%;

  padding: 40px;
  border-radius: 30px;
  box-shadow: 5px 8px 20px 10px #1436016d;
}

.inputBox {
  width: 100%;
  height: 80px;

  padding-left: 20px;

  margin-top: 20px;

  border: 1px solid gray;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputBox input {
  width: 80%;
  height: 100%;
  font-size: 28px;

  border: none;
  outline: none;

  user-select: none;
  cursor: default;
}

.inputBox img {
  padding-inline: 20px;
  height: 50%;

  cursor: copy;
}

.range {
  margin-top: 40px;
}
.passwordLength {
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
#passwordRange {
  margin-top: 20px;
  width: 100%;
}

.passwordSettings {
  font-size: 20px;
  margin-top: 40px;
}

.options {
  display: flex;
  justify-content: space-evenly;
}

ul li {
  list-style: none;
  margin: 20px;
}

li input {
  margin-right: 10px;
}

.genBtn {
  width: 100%;
  /* height: 60px; */
  margin-top: 30px;
  font-size: 20px;
  padding: 20px;

  border: none;
  outline: none;
  border-radius: 5px;

  background-color: #538d22;
  color: white;

  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;

  cursor: pointer;
}

.genBtn img {
  height: 30px;
}
